---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<header>


<!-- Use any element to open the sidenav -->
<a href="{{site.baseurl}}/"><h1 class="header-title">{{site.title}}<!--<i class="fa fa-sun-o" aria-hidden="true"></i>--> </h1></a>
</header>
<div id="main">




{{content}}





</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";    
}
</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
{% include analytics.html %}
</body>
</html>
